{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block body %}
{% block content %}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Billing & Payments</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dima</a></li>
                                <li class="breadcrumb-item active">Billing & Payments</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <h3>All Payments</h3>
            <div class='table-responsive'>
                <table class="table table-info table-striped table-nowrap">
                    <tr>
                        <th scope="col">User_id</th>
                        <th scope="col">Refer_link</th>
                        <th scope="col">Current_earnings</th>
                        <th scope="col">Transaction_history</th>
                        <th scope="col">Payment_status</th>
                        <th scope="col">Payment_method</th>
                        <th scope="col">Transaction_id</th>
                        <th scope="col">last_payment_date</th>
                        <th scope="col">payout_type</th>
                        <th scope="col">payout_id</th>
                    </tr>
                        <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
            </table>
            <h3>Payouts</h3>
            <div class='table-responsive'>
                <table class="table table-info table-striped table-nowrap">
                    <tr>
                        <th scope="col">Payout id</th>
                        <th scope="col">Payout week</th>
                        <th scope="col">Payout date</th>
                        <th scope="col">Payout time</th>
                        <th scope="col">User_id</th>
                        <th scope="col">Payout amount</th>
                        <th scope="col">Authorisation</th>
                        <th scope="col">AC Achievement status</th>
                        <th scope="col">Ac_amount</th>
                        <th scope="col">Pool amount</th>
                    </tr>
                        <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
            </table>
{% endblock content %}
{% endblock body %}