<li class="nav-item">
    <a class="nav-link menu-link" href="#sidebarAuth" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAuth">
        <i class="fa-solid fa-calendar-days"></i> <span data-key="t-authentication">Tutorials</span>
    </a>

    <div class="collapse menu-dropdown" id="sidebarAuth">
        <ul class="nav nav-sm flex-column">
            <li class="nav-item">
                <a class="nav-link menu-link" href="widgets.html">
                    <i class="fa-solid fa-microchip"></i> <span data-key="t-widgets">Courses</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="widgets.html">
                    <i class="fa-solid fa-microchip"></i> <span data-key="t-widgets">Your Learning</span>
                </a>
            </li>            
            <li class="nav-item">
                <a class="nav-link menu-link" href="widgets.html">
                    <i class="fa-solid fa-microchip"></i> <span data-key="t-widgets">Workshops</span>
                </a>
            </li>            
            </li>            
            <li class="nav-item">
                <a class="nav-link menu-link" href="widgets.html">
                    <i class="fa-solid fa-microchip"></i> <span data-key="t-widgets">Certifications</span>
                </a>
            </li>            
            <li class="nav-item">
                <a class="nav-link menu-link" href="widgets.html">
                    <i class="fa-solid fa-microchip"></i> <span data-key="t-widgets">Your Portfolio</span>
                </a>
            </li>            
        </ul>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link menu-link" href="#sidebarAuth" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAuth">
        <i class="fa-solid fa-calendar-days"></i> <span data-key="t-authentication">Calender</span>
    </a>

    <div class="collapse menu-dropdown" id="sidebarAuth">
        <ul class="nav nav-sm flex-column">
            <li class="nav-item">
                <a class="nav-link menu-link" href="{% url 'apps:calender_dimaurls' %}">
                    <i class="fa-solid fa-microchip"></i> <span data-key="t-widgets">Upcomming Calender</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="widgets.html">
                    <i class="fa-solid fa-microchip"></i> <span data-key="t-widgets">Ongoing Calender</span>
                </a>
            </li>            
        </ul>
    </div>
</li>
