{% extends 'base.html' %}
{% load static %}
{% block body %}
{% block content %}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Tutorials</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dima</a></li>
                    <li class="breadcrumb-item active">Tutorials</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row g-0 bg-light position-relative">
            <div class="col-md-5">
                <img src="{% static 'images/small/img-8.jpg' %}" class="rounded-start img-fluid" alt="..." />
            </div>
            <div class="col-md-7 p-4">
                <h5 class="mt-0">#Tutorial 1</h5>
                <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
                <a href="javascript:void(0);" class="btn btn-primary stretched-link">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row g-0 bg-light position-relative">
            <div class="col-md-5">
                <img src="{% static 'images/small/img-7.jpg' %}" class="rounded-start img-fluid" alt="..." />
            </div>
            <div class="col-md-7 p-4">
                <h5 class="mt-0">#Tutorial 2</h5>
                <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
                <a href="javascript:void(0);" class="btn btn-primary stretched-link">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row g-0 bg-light position-relative">
            <div class="col-md-5">
                <img src="{% static 'images/small/img-9.jpg' %}" class="rounded-start img-fluid" alt="..." />
            </div>
            <div class="col-md-7 p-4">
                <h5 class="mt-0">#Tutorial 3</h5>
                <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
                <a href="javascript:void(0);" class="btn btn-primary stretched-link">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% endblock body %}